.header-container nav{
    height: 64px;
    box-shadow: var(--box-shadow);
    position: relative;
    z-index: 1;
}

.header-container .nav-brand {
    font-weight: var(--font-weight-semi-bold);
}

.inline-label {
    display: inline;
}

/* footer styles start here */
.footer-container {
    background: var(--black-color);
    color: var(--white-color);
    height: 10rem;
    margin-top: auto;
}

.footer-container section{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.social-links i {
    transition: color 0.4s ease;
}

.social-links i:hover {
    color: var(--primary-color);
}
/* footer styles end here */