.hero-banner img{
    max-height: calc(100vh - 64px);
    object-fit: cover;
}

.categories-container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.category-container {
    max-width: 26.5rem;
    max-height: 26.5rem;
    cursor: pointer;
}

.category-container figure{
    position: relative;
}

.category-title {
    color: var(--white-color);
    padding: 0.5rem 0;
    width: 50%;
    text-align: center;
    position: absolute;
    bottom: 5px;
    left: 0;
}

@media only screen and (min-width: 768px) {
    .categories-container {
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(4, 1fr);
    }
}